#stamina .index-content {
	margin: 0px 20px;
}

#stamina .injury-menu {
	width: 320px;
	float: left;
	height: 100%;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
	background: #FFFFFF;
	position: relative;
	overflow: hidden;
}

#stamina .injury-menu>section {
	width: 400px;
	position: absolute;
	top: 57px;
	bottom: 0px;
	overflow-y: scroll;
}

#stamina .injury-menu-list {
	margin: 0px 10px;
	width: 300px;
}

#stamina .injury-menu-list>li {
	height: 57px;
	border-bottom: 1px solid #DDDDDD;
	padding: 0px 10px;
}

#stamina .injury-menu-list .portrait {
	float: left;
	width: 44px;
	vertical-align: top;
	margin-top: 6px;
	border-radius: 2px;
}

#stamina .injury-menu-list .right {
	float: right;
	width: 18px;
	margin-top: 19px;
	vertical-align: top;
}

#stamina .injury-menu-text {
	margin: 6px 0px 0px 10px;
	float: left;
}

#stamina .injury-menu-text>p:first-child {
	line-height: 24px;
	font-size: 16px;
}

#stamina .injury-menu-text>p:last-child {
	line-height: 20px;
	font-size: 12px;
	    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#stamina .injury-main {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    margin-left: 340px;
    position: relative;
    overflow: hidden;
    background-color: #FFFFFF;
}

#stamina .injury-main .box {
	position: absolute;
    bottom: 0px;
    top: 57px;
    left: 0px;
    right: 0px;
    overflow-y: auto;
}
#stamina .workout-add{
	vertical-align: top;
    width: 24px;
    cursor: pointer;
    margin: 16px;
}
#stamina .workout-inp{
	margin: 10px;
    border: 1px solid #DDDDDD;
}
#stamina .workout-inp .top{
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
	padding: 8px 10px;
}
#stamina .workout-inp-main{
    padding: 10px;
    width: 810px;
}
#stamina .workout-inp-main .item{
    float:  left;
    width:400px;
    margin-bottom:10px;
}
#stamina .workout-inp-main .item label{
    width: 170px;
    display:  inline-block;
    line-height: 30px;
}
#stamina .workout-inp-main .item input{
    height:  30px;
    border: 1px solid #DDDDDD;
    width: 200px;
}
#stamina .workout-inp-main .item span{
    display:  inline-block;
    line-height: 30px;
}
#workout .workout-inp-but1,
#stamina .workout-inp-but1{
	outline: none;
	background: #ba2538;
    color: #FFFFFF;
    border: none;
    height: 34px;
    width: 130px;
    margin-right:10px;
}
#workout .workout-inp-but2,
#stamina .workout-inp-but2{
	outline: none;
	background: #FFFFFF;
    color: #101010;
    border: 1px solid #DDDDDD;
    height: 34px;
    width: 130px;
    margin-left:10px;
}
